*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.main-heading{
    font-size: 63px;
    font-weight: bolder !important;
    line-height: 1.2;
}

.main-text{
    font-weight: 400 !important;
    font-size: 1.25rem;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.featured-heading{
    font-weight: bolder !important;
    font-size: 38.48px;
}

.icons{
    background-color: #0d6efd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 6px;
}

.h5{
    font-size: 1.25rem;
}

.our-p{
    font-weight: 400 !important;
}

.content-type{
    border-radius: 50px;
    display: inline;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
}

.card{
    border-radius: 5px !important;
    border: non !important;
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.477) !important;
}

.btn-border{
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.input-border{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}